a, a:visited, a:active, a:hover { color: black; }

.item {
	position: relative;
	background: #eee;
	padding: 0.5em;
	margin-bottom: 0.5em;
	overflow: hidden;
}

.item .title {
	display: inline-block;
	font-weight: bold;
	margin-bottom: 0.5em;
}

.item .description {
	font-size: 85%;
}

.item .date {
	font-size: 75%;
	color: #666;
}

#projects .item .date {
	position: absolute;
	top: 0.5em;
	right: 0.5em;
}

#stream .item .date {
	text-align: right;
}

#stream .item .date a {
	color: inherit;
}